<div class="navigation__categories categories">
  <ul class="list-reset categories__list">
    <li class="categories__item">
      <h2 class="categories__title" data-lang="title-1">для кого</h2>
      <ul class="list-reset categories__row">
        <li class="categories__row-item">
          <a href="#" class="categories__row-link" data-lang="link-1">Для женщин</a>
        </li>
        <li class="categories__row-item">
          <a href="#" class="categories__row-link" data-lang="link-2">Для мужчин</a>
        </li>
        <li class="categories__row-item">
          <a href="#" class="categories__row-link" data-lang="link-3">Для детей</a>
        </li>
      </ul>
    </li>
    <li class="categories__item">
      <h2 class="categories__title" data-lang="title-2">Категории</h2>
      <ul class="list-reset categories__row">
        <li class="categories__row-item">
          <a href="#" class="categories__row-link" data-lang="link-4">Кольца</a>
        </li>
        <li class="categories__row-item">
          <a href="#" class="categories__row-link" data-lang="link-5">Браслеты</a>
        </li>
        <li class="categories__row-item">
          <a href="#" class="categories__row-link" data-lang="link-6">Колье</a>
        </li>
        <li class="categories__row-item">
          <a href="#" class="categories__row-link" data-lang="link-7">Серьги</a>
        </li>
        <li class="categories__row-item">
          <a href="#" class="categories__row-link" data-lang="link-8">Броши</a>
        </li>
      </ul>
    </li>
    <li class="categories__item">
      <h2 class="categories__title" data-lang="title-3">материал</h2>
      <ul class="list-reset categories__row">
        <li class="categories__row-item">
          <a href="#" class="categories__row-link" data-lang="link-9">Изделия с бриллиантами</a>
        </li>
        <li class="categories__row-item">
          <a href="#" class="categories__row-link" data-lang="link-10">Желтое золото</a>
        </li>
        <li class="categories__row-item">
          <a href="#" class="categories__row-link" data-lang="link-11">Белое золото</a>
        </li>
        <li class="categories__row-item">
          <a href="#" class="categories__row-link" data-lang="link-12">Розовое золото</a>
        </li>
      </ul>
    </li>
    <li class="categories__item categories__item--col-4">
      <h2 class="categories__title" data-lang="title-4">бренд</h2>
      <ul class="list-reset categories__row">
        <li class="categories__row-item">
          <a href="#" class="categories__row-link">Mercury</a>
        </li>
        <li class="categories__row-item">
          <a href="#" class="categories__row-link">Chopard</a>
        </li>
        <li class="categories__row-item">
          <a href="#" class="categories__row-link">Cartier</a>
        </li>
        <li class="categories__row-item">
          <a href="#" class="categories__row-link">Graff</a>
        </li>
        <li class="categories__row-item">
          <a href="#" class="categories__row-link">Garrard</a>
        </li>
        <li class="categories__row-item">
          <a href="#" class="categories__row-link categories__row-link--accent" data-lang="link-13">Показать все
            бренды</a>
        </li>
      </ul>
    </li>
  </ul>
</div>