<div class="choice">
  <div class="choice__list">
    <article class="choice__item">
      <picture>
        <source type="img/webp" srcset="img/for@1.webp">
        <source type="img/avif" srcset="img/for@1.avif">
        <source type="img/jpg" srcset="img/for@1.jpg">
        <img loading="lazy" src="img/for@1.jpg" alt="the man touches his tie and weirs the gold watch on his palm">
      </picture>
      <a href="#" class="choice__link">
        <span class="choice__link-text" data-lang="choice-1">Перейти в раздел</span>
      </a>
      <div class="choice__contents">
        <h2 class="choice__title" data-lang="choice-2">
          Для мужчин
        </h2>
      </div>
    </article>
    <article class="choice__item">
      <picture>
        <source type="img/webp" srcset="img/for@2.webp">
        <source type="img/avif" srcset="img/for@2.avif">
        <source type="img/jpg" srcset="img/for@2.jpg">
        <img loading="lazy" src="img/for@2.jpg" alt="the woman wears on her neck the gold pendant">
      </picture>
      <a href="#" class="choice__link">
        <span class="choice__link-text" data-lang="choice-3">Перейти в раздел</span>
      </a>
      <div class="choice__contents">
        <h2 class="choice__title" data-lang="choice-4">
          Для женщин
        </h2>
      </div>
    </article>
  </div>
</div>