<div class="control">
  <ul class="list-reset control__list">
    <li class="control__item"><button class="btn-reset control__btn btn-heart"></button></li>
    <li class="control__item"><button class="btn-reset control__btn btn-user"></button></li>
    <li class="control__item"><button class="btn-reset control__btn btn-card">
        <span class="btn-card__num">1</span></button></li>
    <li class="control__item burger-box"><button class="btn-reset burger" aria-label="Открыть меню"></button></li>
  </ul>
</div>