<div class="block-form">
  <div class="block-form__item">
    <p class="block-form__label" data-lang="form-1">
      телефон горячей линии</p>
    <a class="block-form__phone" href="+7800456456">+7 800 456 456</a>

    <div class="block-form__icons icon">
      <a class="block-form__link" href="#" aria-label="Мы в facebook">
        <svg class="icon__fb">
          <use xlink:href="img/spriteStyle.svg#Facebook">
          </use>
        </svg>
      </a>
      <a class="block-form__link" href="#" aria-label="Мы в instagram">
        <svg class="icon__ins">
          <use xlink:href="img/spriteStyle.svg#Instagram">
          </use>
        </svg>
      </a>
    </div>
  </div>

  <div class="block-form__item">
    <p class="block-form__text" data-lang="form-2">
      подпишитесь на новости</p>
    <form class="form">
      <div class="form__group block-form__group">
        <input class="form__input" type="email" id="parcel-2">
        <label for="parcel-2" class="form__label form__label--email" data-lang="form-3">Введите
          E-mail</label>
        <button class="btn-reset form__btn"></button>
      </div>
    </form>

    <div class="block-form__icons icon">
      <a class="block-form__icons-link" href="#" aria-label="Мы в app store">
        <svg class="icon__market">
          <use xlink:href="img/sprite.svg#appmarket">
          </use>
        </svg>
      </a>
      <a class="block-form__icons-link" href="#" aria-label="Мы в google market">
        <svg class="icon__market">
          <use xlink:href="img/sprite.svg#googmarket">
          </use>
        </svg>
      </a>
    </div>

  </div>
</div>