<div class="gallery">
  <div class="gallery__container">
    <div class="gallery__content">
      <article class="gallery__item">
        <figure class="gallery__card">
          <picture>
            <source type="img/webp" srcset="img/g1.webp">
            <source type="img/avif" srcset="img/g1.avif">
            <source type="img/jpg" srcset="img/g1.jpg">
            <img loading="lazy" src="img/g1.jpg" alt="КОЛЬЦО jowls, Cartier" class="gallery__img">
          </picture>
          <figcaption class="description gallery__info">
            <h2 class="description-name gallery__title" data-lang="gallery-1">КОЛЬЦО jowls, Cartier</h2>
            <p class="description-contain gallery__text" data-lang="gallery-2">Белое золото, бриллианты</p>
            <p class="description-price gallery__price">674 000 ₽</p>
          </figcaption>
        </figure>
      </article>
      <article class="gallery__item gallery__item--full">
        <figure class="gallery__card">
          <picture>
            <source type="img/webp" srcset="img/gal@2.webp">
            <source type="img/avif" srcset="img/gal@2.avif">
            <source type="img/jpg" srcset="img/gal@2.jpg">
            <img loading="lazy" src="img/gal@2.jpg" alt="КОлье etoile, HUBLOT" class="gallery__img gallery__img--full">
          </picture>
          <figcaption class="description gallery__info">
            <h2 class="description-name gallery__title" data-lang="gallery-3">КОлье etoile, HUBLOT</h2>
            <p class="description-contain gallery__text" data-lang="gallery-4">Белое золото, бриллианты</p>
            <p class="description-price gallery__price">539 000 ₽</p>
          </figcaption>
        </figure>
      </article>
      <article class="gallery__item">
        <figure class="gallery__card">
          <picture>
            <source type="img/webp" srcset="img/g2.webp">
            <source type="img/avif" srcset="img/g2.avif">
            <source type="img/jpg" srcset="img/g2.jpg">
            <img loading="lazy" src="img/g2.jpg" alt="Серьги moon, HUBLOT" class="gallery__img">
          </picture>
          <figcaption class="description gallery__info">
            <h2 class="description-name gallery__title" data-lang="gallery-5">Серьги moon, HUBLOT</h2>
            <p class="description-contain gallery__text" data-lang="gallery-6">Желтое золото, сапфир</p>
            <p class="description-price gallery__price">498 000 ₽</p>
          </figcaption>
        </figure>
      </article>
      <article class="gallery__item">
        <figure class="gallery__card">
          <picture>
            <source type="img/webp" srcset="img/g4.webp">
            <source type="img/avif" srcset="img/g4.avif">
            <source type="img/jpg" srcset="img/g4.jpg">
            <img loading="lazy" src="img/g4.jpg" alt="КОЛЬЦО croix, Cartier" class="gallery__img">
          </picture>
          <figcaption class="description gallery__info">
            <h2 class="description-name gallery__title" data-lang="gallery-7">КОЛЬЦО croix, Cartier</h2>
            <p class="description-contain gallery__text" data-lang="gallery-8">Желтое, белое,розовое золото, сапфир</p>
            <p class="description-price gallery__price">432 000 ₽</p>
          </figcaption>
        </figure>
      </article>
      <article class="gallery__item">
        <figure class="gallery__card">
          <picture>
            <source type="img/webp" srcset="img/g5.webp">
            <source type="img/avif" srcset="img/g5.avif">
            <source type="img/jpg" srcset="img/g5.jpg">
            <img loading="lazy" src="img/g5.jpg" alt="серьги win, BLANCPAIN" class="gallery__img">
          </picture>
          <figcaption class="description gallery__info">
            <h2 class="description-name gallery__title" data-lang="gallery-9">серьги win, BLANCPAIN</h2>
            <p class="description-contain gallery__text" data-lang="gallery-10">Желтое золото, жемчуг</p>
            <p class="description-price gallery__price">398 000 ₽</p>
          </figcaption>
        </figure>
      </article>
    </div>
  </div>
</div>