<div class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <a class="hero__link" href="#" data-lang="hero-1">

      </a>
      <figure class="hero__good-box description">
        <img class="hero__img" src="img/hero@1.png" alt="КОЛЬЦО TRINITY, Cartier">
        <figcaption class="hero__description">
          <a class="description-name hero__name-link" data-lang="hero-2">КОЛЬЦО TRINITY, Cartier</a>
          <p class="description-contain hero__contain" data-lang="hero-3">Белое золото, бриллианты</p>
          <p class="description-price hero__price">498 000 ₽</p>
        </figcaption>
      </figure>
      <div class="hero__leng lang-switch">
        <button class="lang-switch__btn btn-reset" aria-label="Включить Русский язык" data-btn="ru">RU</button>
        <button class="lang-switch__btn btn-reset" aria-label="take on English language" data-btn="en">EN</button>
      </div>
    </div>
  </div>
</div>