<div class="menu">
  <div class="container">
    <nav class="navigation__nav menu">
      <ul class="list-reset menu__list">
        <li class="menu__item"><a href="#" class="menu__link active" data-lang="menu-1">Ювелирные
            изделия</a></li>
        <li class="menu__item"><a href="#" class="menu__link" data-lang="menu-2">Часы</a></li>
        <li class="menu__item"><a href="#" class="menu__link" data-lang="menu-3">Ароматы</a></li>
        <li class="menu__item"><a href="#" class="menu__link" data-lang="menu-4">Бренды</a></li>
        <li class="menu__item"><a href="#" class="menu__link" data-lang="menu-5">Изделия из кожи</a>
        </li>
        <li class="menu__item"><a href="#" class="menu__link" data-lang="menu-6">Свадебные украшения</a>
        </li>
        <li class="menu__item"><a href="#" class="menu__link" data-lang="menu-7">Другое</a></li>
      </ul>
    </nav>
  </div>
</div>