<section class="social">
  <div class="container">
    <h2 class="social__title" data-lang="social-1">Мы</h2>
    <h3 class="social__title" data-lang="social-2">в социальных сетях</h3>
  </div>
  <div class="social__container">
    <div class="social__slider slider">
      <div class="slider__item">
        <picture>
          <source type="img/webp" srcset="img/slide@1.webp">
          <source type="img/avif" srcset="img/slide@1.avif">
          <source type="img/jpeg" srcset="img/slide@1.jpg">
          <img loading="lazy" src="img/slide@1.jpg" alt="the woman in a one-pice dress" class="slider__img">
        </picture>
      </div>
      <div class="slider__item">
        <picture>
          <source type="img/webp" srcset="img/slide@2.webp">
          <source type="img/avif" srcset="img/slide@2.avif">
          <source type="img/jpeg" srcset="img/slide@2.jpg">
          <img loading="lazy" src="img/slide@2.jpg" alt="the white pearl bracelet with bee pendant" class="slider__img">
        </picture>
      </div>
      <div class="slider__item">
        <picture>
          <source type="img/webp" srcset="img/slide@3.webp">
          <source type="img/avif" srcset="img/slide@3.avif">
          <source type="img/jpeg" srcset="img/slide@3.jpg">
          <img loading="lazy" src="img/slide@3.jpg" alt="the earrings on a white pillow" class="slider__img">
        </picture>
      </div>
      <div class="slider__item">
        <picture>
          <source type="img/webp" srcset="img/slide@4.webp">
          <source type="img/avif" srcset="img/slide@4.avif">
          <source type="img/jpeg" srcset="img/slide@4.jpg">
          <img loading="lazy" src="img/slide@4.jpg" alt="the blond woman  dresses the big square earrings"
            class="slider__img">
        </picture>
      </div>
      <div class="slider__item">
        <picture>
          <source type="img/webp" srcset="img/slide@5.webp">
          <source type="img/avif" srcset="img/slide@5.avif">
          <source type="img/jpeg" srcset="img/slide@5.jpg">
          <img loading="lazy" src="img/slide@5.jpg"
            alt="the gold earrings and a palm with gold rings on its fingers  lie on the table" class="slider__img">
        </picture>
      </div>
    </div>
    <div class="social__icons icon">
      <a class="social__link" href="#" aria-label="We are in the facebook">
        <svg class="icon__fb">
          <use xlink:href="img/spriteStyle.svg#Facebook">
          </use>
        </svg>
      </a>
      <a class="social__link" href="#" aria-label="We are in the instagram">
        <svg class="icon__ins">
          <use xlink:href="img/spriteStyle.svg#Instagram">
          </use>
        </svg>
      </a>
    </div>
  </div>
</section>